:root {
  --black: #000;
  --white: #fff;
  --bg-primary: #585858;
  --bg-second: #3b3b3b;
  --hover-text: #d6444a;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type='submit'] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* utils */
section {
  padding: 20px 0;
}
.section-swiper {
  padding: 5px 0;
}

.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

body.modal-open {
  overflow: hidden;
}
@media screen and (min-width: 1820px) {
  .section-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }

  .swiper {
    width: 70% !important;
    margin-left: 0 !important;
  }

  .navigation {
    padding-right: 100px !important;
  }
}

/* header */

.header {
  position: sticky;
  top: -1px;
  width: 100%;
  transition: top 0.3s ease-in-out;
  z-index: 1000;
}
.top-line {
  background-color: var(--bg-second);
}
.top-line .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.icon-user {
  width: 30px;
  height: 30px;
}

.logo {
  max-width: 140px;
}

header .main-line {
  position: relative;
  background-color: var(--bg-primary);
}

.main-line .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.wrapper-search {
  width: calc(100% - 100px);
}
.to-search {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  padding-left: 12px;
  background-color: var(--white);
}

.shopping {
  width: 28px;
  height: 29px;
}

.icon-mobile {
  position: relative;
  width: 30px;
  height: 30px;
}

/* Swiper */

.swiper {
  width: 100%;

  border-radius: 5px;
}

.swiper__img {
  width: 100%;
  height: 325px;
}

@media screen and (max-width: 580px) {
  .swiper {
    height: 186px;
  }
  .swiper__img {
    width: 100%;
    height: 186px;
  }
}

/* navigation */

.navigation {
  box-shadow: 3px 3px 12px #ddd;
  border-right: 1px solid #e1e1e1;
  padding: 10px 20px;
}
.navigation__item {
  display: flex;
  align-items: center;

  margin-bottom: 15px;
}

.navigation__item:last-child {
  margin-bottom: 0px;
}

.navigation__icon {
  width: 45px;
  height: 40px;
}

.navigation__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: var(--bg-primary);

  margin-left: 20px;
}
.navigation__title:hover {
  color: var(--hover-text);
}
/* brand */

.brand {
  display: flex;
  flex-wrap: wrap;
  gap: 83px;
}
.brand__image {
  width: 230px;
  height: 90px;
}
@media screen and (max-width: 580px) {
  .brand__image {
    width: 72px;
    height: 36px;
  }

  .brand {
    gap: 20px;
  }
}
/* menu */

@media screen and (max-width: 1023px) {
  .menu-container {
    display: none;
    position: fixed;
    bottom: -108px;
    left: 0;
    background-color: var(--bg-primary);
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px;
    z-index: 50000;
  }
  .is-open {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  .menu-container,
  .menu-button--close {
    display: none;
  }
}

.menu__title {
  font-size: 20px;
  line-height: 20px;

  color: var(--white);
}

.wrapper-close {
  position: absolute;
  right: 20px;
  top: 25px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 25px;
  height: 25px;
}
.menu__item {
  display: flex;
  gap: 10px;
}

.menu__icon {
  width: 25px;
  height: 25px;
}

.location {
  display: flex;
  align-items: center;

  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
}
.wrapper-menu {
  display: flex;
  align-items: center;

  margin-bottom: 45px;

  color: var(--white);
}
.localization {
  position: relative;
  display: flex;
  margin-left: 50px;

  gap: 20px;
}

.localization__item {
  font-size: 20px;
}

.localization::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: var(--white);
}
/* contact us */
.container-contact {
  position: relative;
}

.contacts-us {
  display: flex;
  flex-direction: column;
  gap: 20px;
  white-space: nowrap;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
}
.contacts__link {
  color: var(--white);
}
.contacts__link:hover {
  color: var(--hover-text);
}
.work_time {
  max-width: 142px;
  margin-top: 40px;
  font-size: 16px;
  line-height: 30px;
}
@media screen and (max-width: 1023px) {
  .wrapper-contact {
    position: absolute;
    bottom: -210px;
    left: -260px;
    background-color: var(--bg-second);
    overflow: hidden;
    padding: 20px 50px;
    z-index: 50001;
    border-radius: 0px 0px 6px 6px;
    color: var(--white);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    opacity: 0;
    max-height: 0;
    transition: transform 1s ease, opacity 1s ease, max-height 1s ease;
  }
  .is-open {
    display: flex;
    flex-direction: column;
    transform: translateY(0);
    opacity: 1;
    max-height: 500px;
    overflow: auto;
  }
}

/* .section-divider */

.section-divider {
  color: var(--white);
  background-color: var(--bg-primary);
  padding: 20px 0;
}

.divider__text {
  display: inline;
  font-size: 14px;
  line-height: 20px;
}

.wrapper-divider {
  display: flex;
  align-items: center;
}

.divider__btn {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--hover-text);
}
