.container-contact {
  position: relative;
}

.contacts-us {
  display: flex;
  flex-direction: column;
  gap: 20px;
  white-space: nowrap;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
}
.contacts__link {
  color: $white;
}
.contacts__link:hover {
  color: $hover-text;
}
.work-time {
  max-width: 142px;
  margin-top: 40px;
  font-size: 16px;
  line-height: 30px;
}

.wrapper-contact {
  position: absolute;
  top: 45px;
  right: 0;

  overflow: hidden;
  padding: 20px 50px;
  z-index: 50001;
  border-radius: 0px 0px 6px 6px;
  color: $white;
  background-color: $bg-second;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  opacity: 0;
  max-height: 0;
  transition: transform 1s ease, opacity 2s ease, max-height 1s ease;
}
.is-open {
  display: flex;
  flex-direction: column;
  transform: translateY(0);
  opacity: 1;
  max-height: 500px;
  overflow: auto;
}

@media screen and (min-width: 1024px) {
  .wrapper-contact {
    top: 45px;
    right: -120px;
  }

  .work_time {
    display: none;
  }
}
